<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - IDP</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Log into your beautiful account</h1>
    <a href="/">home</a>
    <form method="post">
      <div>
        <label for="totp_code">2FA code</label>
        <input id="totp_code" name="totp_code" />
      </div>

      <button type="submit">Login</button>

      {% if error %}
      <p>Incorrect 2FA code.</p>
      {% endif %}
      <!---->
      {% if reuse %}
      <p>2FA code reused, wait 30s for the next one</p>
      {% endif %}
    </form>
  </body>
</html>
